body , figure{
  margin: 0;

}
body{
  background-color: #E5E5E5;

}

/* Navbar */
.navbar {
  background-color: #4D4D4D;
  height: 4em;
}
.navbar-brand {
  height: 3em;
  margin: 0.5em 0.5em;
  padding-right: 8%;
}
.search-container{
  margin: 1em 1em;
  align-self: auto;
  height: 2em;
  vertical-align: top;
  width: 40em;

}

.widget-container {
  vertical-align: top;
  margin: 1.4em 0 1.4em 1em;
  height: 1.2em;
}
.widget-container div img{
  height: 100%;
  margin: 0 0.5em;
  color: #B6B6B6;
}
.search-bar, .searchfield {
  height: 100%;
}
.search-icon {
  margin: 0.5em;
  height: 1em;
  color: #4D4D4D;
  position: absolute;

}
.user-widget {
  height: 2em;
  margin: 1em 0.5em;
}
.user-widget img{
  height: 100%;
}
*:focus {
    outline: none;
}
input.search-field  {

  padding: 0 0 0 2em;
  height: 100%;
  width: 100%;
  border-radius: 3em;
  border: none;
}
.search-container, .navbar-brand , .widget-container, .settings-widget, .notification-widget, .user-widget {
  display: inline-block;
  position: relative;
}
.user-widget{
  float: right;
}
.nav-right {
  float: right;
}
.widget-container{
  display:inline-flex;

  position: relative;
}
.search-container {
  width: 40%;
  max-width: 40em;
  display:inline-block;
}

/* Main Page x * 0.8 = 100 */
.background-image, .profile-background-image {
  width:100%;
  height:250px;
  background-image: url('/assets/images/coverphoto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 0 100%, 100% 60%, 100% 0);
}
.profile-header {
  width:80%;
  margin: auto;
  position: relative;
}
.profile-picture {
  margin: 0 0 0 2em;
  padding: 2em 0 0 0;
  height: 129px;
  width: 129px;
  display: inline-block;
  vertical-align: top;
}
.prof-pic {
  width:129px;
  height:129px;
}
.header-card {
  display: inline-block;
}
.username {
padding: 2em 0 0 2em;

}
.username h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  display: inline-block;
  color: #F6F6F6;
  margin-right: 0.5em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.followers-number, .following-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.1em;
  display: inline-block;
  color: #48DDDF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.followers , .following, .followers-dot {
  margin: 0 0.5em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 0.15em;
  display: inline-block;
  color: #F2F2F2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400!important;
  line-height: normal;
  font-size: 13px;
  padding-left: 32px;
  color: #F6F6F6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-profile , .share-profile {
  padding-left: 32px;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
}
.share-profile {
  padding-left: 20px;
}
.edit-profile p {
  color: #FFFFFF;
  background-color: #48D4C1;
  padding: 7px 15px;
  border-radius: 3em;
}
.share-profile p{
  color: #4D4D4D;
  background-color: #F6F6F6;
  padding: 7px 20px;
  border-radius: 3em;
}
.edit-profile span , .share-profile span {
  padding-right:0.3em;
}
/* Main Container */
.main-container {
  position: absolute;

  margin:0 12%;
  margin-top: -40px;
}
/* About Section */
.about-section h2{
  width:100px;
  margin-left:auto;
  margin-right:auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #4D4D4D;
}
.about-edit{
  margin-left: 0.5em;
  display:inline-block;
  color: #FFFFFF;
  background-color: #48D4C1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.about-edit svg{
  padding-top: 4px;
  vertical-align: top;
  font-size: 8px;
}
.about-section p {
  text-align: center;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 14px;
  color: #4D4D4D;
}

/* Articles Section */

.left-arrow-articles{
  position: absolute;
  margin:218px 0 0 5.5%;
}
.right-arrow-articles{

  position: absolute;
  margin:218px 0 0 94%;
}

.articles {
  margin-top: 80px;
}
.articles-title {
  margin-left: 7%;
  margin-bottom: 22px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 14px;
  color: #4D4D4D;
}
.article-box-container{
  display: flex;
  width:85%;
  height:445px;
  margin: auto;
  overflow: hidden;

}

.article-box {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  border-radius: 10px;
  width:300px;
  height:445px;
  background: #FFFFFF;
}
.article-box-header {
  margin-left:13px;
  margin-top: 18px;
}

.article-box-header-photo{
  display: inline-block;
  vertical-align: top;
}
.article-box-header-photo img{
  width:38px;
  height:38px;
}
.article-box-info{
  display: inline-block;
  height: 38px;
  vertical-align: top;

}
.article-box-info-date{
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #B5B5B5;
}
.article-box-info-name{
  margin-top: 2px;
  margin-bottom: 0px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #4D4D4D;
}
.article-box-main {
  margin-top: 15px;
  margin-left: 18px;
  width:266px;
}
.article-box-main p:nth-child(2) {
font-family: Quicksand;
font-style: normal;
font-weight: bold;
line-height: 16px;
font-size: 14px;
margin-top: 8px;
color: #4D4D4D;
}
.article-box-main p:nth-child(3){
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #4D4D4D;
}
.article-box-footer{
  margin-top:15px;
  vertical-align: bottom;
}
.article-box-footer p:nth-child(1){
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  text-align: right;
  color: #4D4D4D;
  margin-bottom: 30px;
}
.article-box-footer svg:nth-child(1){
  margin-left:5px;
  color: #48D4C1;
}
.article-box-footer svg:nth-child(2){
  style:regular;
}
.article-box-footer-comments{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #4D4D4D;
}
.article-box-footer-right {
  display: inline-block;
  float: right;
}
.article-box-footer i{
  color:#4D4D4D;
}
/* Experience and Accomplishments*/
.experience {
  width:85%;
  margin: auto;
  margin-top: 50px;
}
.experience-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 14px;
  color: #4D4D4D;
}
.experience-title svg {
  margin-left:7px;
  margin-top: 2px;
}
